body {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
  background: #1C71D2;
  color: white
}



.login-form {
 
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.email-input{
  width: 300px;
  height: 20px;
  margin-bottom: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.pass-input {
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.log-in-btn {
  margin: auto;
  align-items: center;
  display: flex;
	width: 50%;
	height: 30px;
	flex-direction: column;
	justify-content: center;
  vertical-align: middle;
	flex-shrink: 0;
  border: none;
	border-radius: 5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: white;
  color: #1C71D2;;
	text-align: center;
	font-family: Itim;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

a {
  text-decoration: none;
  color: yellow
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}