
body {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
  background: #1C71D2;
  color: white;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding-left: 10px;
  margin: auto;
}


.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffcc00;
}



.form-1 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input-1{
  width: 300px;
  height: 20px;
  margin-bottom: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.input-2 {
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-1:hover {
  background-color: peachpuff;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.btn-1 {
  margin: auto;
  align-items: center;
  display: flex;
	width: 15%;
	height: 30px;
  cursor: pointer;
	flex-direction: column;
	justify-content: center;
  vertical-align: middle;
	flex-shrink: 0;
  border: none;
	border-radius: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background-color: white;
  
  color: #1C71D2;;
	text-align: center;
	font-family: Itim;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

a {
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}